<app-employee-count></app-employee-count><br/><br/><hr/>

<div *ngIf="employeeList.length; else template" style="display: inline;">

    <h2 [class.special]="isSpecial">
        The List of Employee is given below:
    </h2>

    <div *ngFor="let employee of employeeList" class="card">
        <ng-container *ngIf="employee.name != 'Mayank Gupta'">
            <app-employee-details 
                [userName]="userName"
                [employeeDetails]="employee"
                (deleteEventEmitter)="deleteEmployee($event)">
            </app-employee-details>
        </ng-container>
    </div>
</div>

<ng-template #template>
    <h1>No Employee To Display....</h1>
</ng-template>