<h1>Employee Length: {{employeeList.length}}</h1>

<div *ngIf="employeeList.length; else template" style="display: inline;">

    <h2 [class.special]="isSpecial">The List of Employee is given below:</h2>

    <div *ngFor="let employee of employeeList" class="card">
        <img [src]="employee.image" class="card-img-top" [title]="employee.name" alt="...">
        <div class="card-body">
            <h5 [style.color]="textColor" class="card-title">{{employee.name}}</h5>
            <p [class]="applyClassName" class="card-text">{{employee.info}}</p>
            <input (click)="deleteEmployee(employee.name)" type="button" class="btn btn-primary" value="Delete {{employee.name}}">
        </div>
    </div>
</div>

<ng-template #template>
    <h1>No Employee To Display....</h1>
</ng-template>